@CHARSET "UTF-8";

/* --------------------------------------------------------------
    Login page
-------------------------------------------------------------- */
.login-container {
	text-align: center;
	padding-top: 10%;
	align: center;
	font-family: "Arial", "sans-serif";
	width: 1263px;
}

.login-box {
	width: 308px;
	height:200px;
	margin: 0;
	padding: 20px;
	font-size: 13px;
	border: 1px solid #E1E1DC;
	box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: none repeat scroll 0 0 #F9F9F5;
	margin: 1em auto;
}

.login-form {
	text-align: left;
	padding-left: 25px;
	padding-top: 0;
	text-align: left;
}

.login-box h2 {
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
	color: #292928;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 700;
	padding: 5px;
}

.login-form ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.login-form label {
	line-height: 30px;
}
input.submit-login {
    background: url("../images/button-login.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 33px;
    padding: 0;
    width: 81px;
}