@charset "utf-8";
body,
h1, h2, h3, h4, h5, h6{
	font-family: arial,helvetica,sans-serif ; 
	color:#636262;
	font-size:12px;
}

a{
	font-size:12px;
	font-family: arial,helvetica,sans-serif ; 
	color:#0e76bc;
}

a:hover{
	background: 0 none;
	cursor:pointer;
	text-decoration:underline;
	color:#0E76BC;
}

em,i{
	font-size:12px;
	font-family: arial,helvetica,sans-serif ; 
}

span.tracking {
	line-height: 30px;
}
#tracking_number{
	
}
table.tbl_tracking_number td {
	padding: 6px 2px;
}
.corner{
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; 
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; 
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; 
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}

header,footer{width:100%;}

header{background:#336699;}
footer{background:rgb(51,51,51);border-top:2px solid #dadada;padding-bottom:8px;padding-top:8px;}

body#user-page{
	background:#eaeaea;
}

#user-page .ym-wbox{
	margin:0;
	width:100%;
	min-width:1280px;
}

#content-wrapper{
	float: left;
    width: 100%;
}

#content-left-wrapper{
	float:left;
	width:180px;
	margin:0;padding:0;
}

#content-center-wrapper{
	position:relative;
	border-left:2px solid #D5D5D5;
	float:left;
	width:1067px;
	min-height:650px;
}
#tbl_frm_user tr td {
    padding-top: 2px;
    padding-bottom: 2px;
}
#tbl_frm_user .txt_right {
    width: 206px;
}
#tbl_frm_user .select_right {
    width: 220px;
}

#content-right-wrapper{
	width:180px;
	border-left:2px solid #D5D5D5;
	border-bottom:1px solid #D5D5D5;
	position:absolute;
	top:0px;right:0px;
	z-index:999;
	background:#f1f1f1;
}

/******************************TOP RIGHT NAV**************************************/

#logo{
    margin-left:10px;
    margin-top:22px;
    margin-bottom:14px;
}

#top-nav{
	width:440px;
	float:right;
	margin-right:30px;
}

#top-search{
	width:208px;height:42px;
	float:left;
	background:url(../images/search-bg.png) center center no-repeat;
	margin-top: 15px;
}

#top-search input[type="text"]{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #81A0BE;
    font-style: italic;
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
    width: 150px;
}

#top-search input[type="submit"]{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height: 20px;
    margin-top: 10px;
    text-indent: -9999px;
    width: 25px;
}

#user-nav {
	float:left;
	background:url(../images/user-icon.png) left center no-repeat;
	margin-top: 20px;margin-left:40px;
}

#user-nav  ul{
	list-style-type:none;
	margin-top:0px;	
}

#user-nav  ul li{
	position:relative;
}

#user-nav li a{
	color:#c3dbf2;
}

#user-nav a#top-1{
	background: url("../images/user-menu-icon.png") no-repeat scroll right 5px transparent;
    padding-right: 15px;
}

#user-nav ul li:hover ul{
	display:block;
}

#user-nav  ul li ul{
	background: none repeat scroll 0 0 #FFFFFF;
    left: -8px;
    margin-left: 0;
    padding-left: 8px;
    position: absolute;
    top: 17px;
    z-index: 1000;
	display:none;
	border:1px solid #dedede;
	padding-bottom:5px;
}

#user-nav  ul li ul li{
	display:block;
	float:left;
	width:120px;
	margin-left:0px;
}

#user-nav  ul li ul li a{
	color:#333;
}

#user-logout{
	float:left;
	background:url(../images/logout_icon.png) left center no-repeat;
	margin-top: 25px;margin-left:20px;
}

#user-logout a{
	padding-left:20px;
	color:#C3DBF2;
	line-height: 18px;
}

/**************************************LEFT CONTENT***************************************/

#content-left-wrapper section{
}

#content-left-wrapper h2.title{
	background: url("../images/mailbox_menu_icon.png") no-repeat scroll right center transparent;
    color: #336699;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 25px;
    text-transform: uppercase;
    width: 155px;
} 

#content-left-wrapper ul.left-nav{
	list-style-type:none;
	margin-top:0px;	
	width: 150px;
	margin-left:0px;
}

#content-left-wrapper ul.left-nav li{
	display:block;float:left;
	width:100%;
	height:35px;
	margin-left:0px;
	border-top:1px solid #dadada;
	padding-left:20px;padding-right:10px;
	position:relative;
}

#content-left-wrapper ul.left-nav li a{
	display:block;
	font-size:14px;
	color:#666666;
	line-height:35px;
}

#content-left-wrapper ul.left-nav li.act a{
	color:#3e6e9e;
	font-weight:bold;
}

#content-left-wrapper ul.left-nav li:hover,
#content-left-wrapper ul.left-nav li a:hover,
#content-left-wrapper ul.left-nav li.act{
	text-decoration:none;
	background:#dfdfdf;
}

#content-left-wrapper ul li span.new-count{
	background: none repeat scroll 0 0 #F91D00;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: block;
    left: 52px;
    padding: 1px 3px;
    position: absolute;
    top: 3px;
}

/************************************RIGHT CONTENT*****************************************************/

#content-right-wrapper section{
	padding-bottom:40px;
}

#content-right-wrapper  h3{
	color:#6c6c6c;
	font-size:14px;
	margin-bottom:15px;
	margin-top:30px;
}

#content-right-wrapper .box-item{
	border:1px solid #dadada;
	height:255px;width:155px;
	background:#f7f7f7;
}

/******************************************BODY CONTENT***********************************************/

#content-body-wrapper{
	float:left;
	width:885px;
	min-height:650px;
	display:block;
	background:#fff;
}

.left-align{text-align:left !important;}
.center-align{text-align:center !important;}

.items table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background: #cdcdcd;
	border:0 none;
	margin:0;
}

.items table th {
	padding: 10px 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #fbfbfb;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #eaeaea));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -moz-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -ms-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -o-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: linear-gradient(top, #fbfbfb, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbfbfb, endColorstr=#eaeaea);
	border:0 none;
	color:#6c6c6c;
	font-size:14px;
	font-weight:bold;
}

.items table th a{
	padding-right:15px;padding-left:5px;
	color:#6c6c6c;
	font-size:14px;
	font-weight:bold;
} 
.items table td {
	background: none repeat scroll 0 0 #fff;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	border:0 none;
}

.items table td:hover .scan-popup{
	display:block;
}

.items .wrap{
	position:relative;
	display:block;
}

.items .wrap:hover{cursor:pointer;}

.scan-popup{
	 background: url("../images/popup-icon.png") no-repeat scroll center center transparent;
    height: 123px;
    left: -75px;
    position: absolute;
    top: 25px;
    width: 309px;
    z-index: 999999;
	text-align:center;
	display:none;
}

.scan-popup h2{
	color:#336699;
	font-size:18px;
	margin-top: 25px;
}

.scan-popup ul{
	list-style-type:none;
}

.scan-popup ul li{display:inline;}

.scan-popup ul li a{padding:5px 20px;border-radius:4px;}
.scan-popup ul li a.yes{background:#ecbd01;color:#fff;font-size:17px;}
.scan-popup ul li a.no{background:#e1e1e1;color:#626262;font-size:17px;}
.scan-popup ul li a:hover{text-decoration:none;}

.items table td select{width:100px;}

.items tbody tr:nth-child(odd) td {background: #ffffff}
.items tbody tr:nth-child(even) td {background: #f2f2f2}

.items tbody tr:hover td{background:#ffcc00;}

a.envelop,a.ticker,a.cloud,a.delete,a.send,a.collect,a.setting {
	background: url("../images/active-icon.png") no-repeat scroll center center transparent;
    display: block;
    height: 100%;
    text-indent: -9999px;
    width: 100%;
}
a.envelop{
	background: url("../images/mailbox-icon.png") no-repeat scroll center center transparent;
}
a.ticker{
	background: url("../images/tickbox-icon.png") no-repeat scroll center center transparent;
}
a.delete{
	background: url("../images/delete-icon.png") no-repeat scroll center center transparent;
}
a.cloud{
	background: url("../images/cloud-icon.png") no-repeat scroll center center transparent;
}
a.send{
	background: url("../images/send-mail-icon.png") no-repeat scroll center center transparent;
}
a.collect{
	background: url("../images/download-icon.png") no-repeat scroll center center transparent;
}
a.setting{
	background: url("../images/setting-icon.png") no-repeat scroll center center transparent;
}
a.pdf{
	background: url("../images/pdf-icon.png") no-repeat scroll left center transparent;
}

a.csv{
	background: url("../images/csv-icon.png") no-repeat scroll left center transparent;
	padding-left: 25px;
    padding-top: 3px;
}

.items .pagination {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(center top , #fafafa, #fafafa);
	padding: 12px 10px;
	text-align: center;
	vertical-align: middle;
	height: 23px;
	display: block;
	border: 1px solid #CDCDCD;
	border-top: 0 none;
}
.pagination .wrap {
	float: right;
	margin-right: -5px;
}
.pagination ul {
	float:left; list-style-type: none;
	 margin: 0;
    padding: 0;
}
.pagination ul li {
	display: block;
    float: left;
    margin: 0 1px;
}
.pagination ul li a {
	display: block;
	float: left;
	border: #d9d9d9 1px solid;
	padding: 4px 11px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333333;
	font-weight: bold;
	font-size:12px;
}
.pagination ul li a.current {
	background: #7d7d7f;
	color: #fff;
	border-color: #514f4f;
}
.pagination ul li a:hover{
	text-decoration:none;
}

/*************************************************ACCOUNT DETAILS PAGE*****************************/

#account-body-wrapper{
	float:left;
	background:#f6f6f6;
	width:100%;
	min-height:650px;
}

#left-account{
	border-right:1px solid #dadada;
	min-height:500px;
	padding:0px 30px;
	margin:30px 0px;
}

#left-account h2,#account-body-wrapper h3,#invoice-body-wrapper h3{
	border-bottom:1px solid #dadada;
	padding-bottom:10px;
	color:#336699;
	font-size:23px;
}

#account-body-wrapper h3{
	font-size:21px;
	padding-left:25px;
}

input.input-txt, select.input-text {
    border: 1px solid #DADADA;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    height: 30px;
    margin-left: 0;
    text-indent: 5px;
    width: 100%;
	line-height:25px;
}

select.input-text {
	padding: 5px 0;
}

select.input-text {
	text-indent: 0px;
	line-height: 26px;
}

#left-account .left-1{
	margin-left:10px;
	line-height:22px;
}

#left-account .left-0{
	line-height:43px;
}
#left-account .left-3{
	line-height:70px;
	text-align:right;
}
#left-account .left-2{
	line-height:70px;
	margin-left:10px;
}

#left-account .account-type{
	position:relative;
}
#left-account .active{
	 background: url("../images/x-icon.png") no-repeat scroll center center transparent;
    height: 15px;
    left: 20px;
    position: absolute;
    top: 30px;
    width: 15px;
}
#left-account a.add{
	 background: url("../images/add-icon.png") no-repeat scroll center center transparent;
    cursor: pointer;
    display: block;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    text-indent: -99999px;
    width: 25px;
}

#right-account{
	padding:0px 30px;
	margin: 30px 0;
}

#right-account .table-content{
	border:1px solid #dadada;
	border-radius:4px;
}

.table-content.border{
	border:1px solid #dadada;
	border-radius:4px;
}
.table-content .header,.table-content .header2,.table-content .footer{
	padding: 12px 15px;
	text-align: left;
	vertical-align: middle;
	background-color: #fbfbfb;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #eaeaea));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -moz-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -ms-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -o-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: linear-gradient(top, #fbfbfb, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbfbfb, endColorstr=#eaeaea);
	border:0 none;
	color:#6c6c6c;
	font-size:16px;
	font-weight:bold;
}
.table-content .body{display:table;}
.table-content .header2{width:96.65%;}
.table-content .g-item2{padding:10px 15px;width:96.65%;}
.address-wrapper .g-item2 .input-txt{width:135px;height:24px;color:#6c6c6c;font-size:12px;margin-top:3px;}

.table-content .g-item{border-top:1px solid #dadada;padding: 10px 0;}
.table-content .ym-g75{padding-left:15px;width:70%;}
.table-content .ym-g25{padding-right:15px;width:20%;}
.table-content select{color:#8a8989;}

.right-align{text-align:right !important;}

#go-back{
	width:141px;height:39px;
	background:url(../images/back-icon.png) center center no-repeat;
	float:right;
	margin-top:15px;
}
#go-back span a{
	color: #C3DBF2;
    display: block;
    font-size: 12px;
    margin-left: 35px;
    margin-top: 15px;
}
#setting-back{
	width:106px;height:42px;
	background:url(../images/settings_back_bg.png) center center no-repeat;
	float:right;
	margin-top:15px;
}
#setting-back span a{
	color: #C3DBF2;
    display: block;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 15px;
}
.address-wrapper{
	width:90%;
	padding:30px 30px;
}

.address-wrapper .input-cols{padding-left:25px;width:50%;}
.address-wrapper .input-item{margin:5px 0px;}
.address-wrapper .input-txt{width:310px;height:32px;}
.address-wrapper label{
	font-size:15px;
	color:#6c6c6c;
	line-height: 30px;
}
.address-wrapper .wrapper-box,.address-wrapper .wrapper-box2{
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #DADADA;
    margin-left: 25px;
    width: 906px;
}
.address-wrapper .wrapper-box2{
	background:transparent;
}
.wrapper-box .wrapper-content{
	padding:35px 40px;
	display: block;
	height:20px;
}
input.input-btn{
	padding:5px 15px;
	font-size:17px;
	color:#626262;
	background:#ededed;
	border:1px solid #dadada;
	border-radius:4px;
	cursor:pointer;
}
input.input-btn-disable{
	padding:5px 15px;
	font-size:17px;
	color:#B5B5B5;
	background:#ededed;
	border:1px solid #dadada;
	border-radius:4px;
	cursor:pointer;
	width:200px;
	margin-bottom:10px;
}
.no-border{border:0 none !important;}

h2.title{
	color: #336699;
    font-size: 21px;
    padding-bottom: 10px;
}

#postbox-address{height:160px;overflow:auto;}

.slb-custom{
	background:url(../images/slb-bg.png) center center no-repeat;
	width:131px;height:30px;
	overflow: hidden;
}
.slb-custom select{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #8A8989;
    font-size: 12px;
    height: 22px;
    margin: 5px 0 0;
    padding-left: 5px;
    width: 150px;
	outline: none;
	border: 0 none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

#locations-available{
	width:600px;
	height:145px;
	overflow:auto;
	background:#f4f4f4;
	border:1px solid #dadada;
	border-radius:4px;
	padding:15px;
}
#locations-available table{
	border:0 none;
	margin:0;
}
#locations-available table td{border:0 none;padding: 5px 20px;}
#locations-available table td:hover,#locations-available table tr:hover td{background:transparent;}

table.border {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	background: #cdcdcd;
	border:1px solid #dadada;
	margin:0;
	border-radius:4px;
}

table.border th {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #fbfbfb;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #eaeaea));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -moz-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -ms-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -o-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: linear-gradient(top, #fbfbfb, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbfbfb, endColorstr=#eaeaea);
	border:0 none;
	color:#6c6c6c;
	font-size:14px;
	font-weight:bold;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
}

table.border th a{
	padding-right:15px;padding-left:5px;
	color:#6c6c6c;
	font-size:14px;
	font-weight:bold;
} 
table.border td {
	background: none repeat scroll 0 0 #fff;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	border:0 none;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
}
table.border tbody tr:nth-child(odd) td {background: #ffffff}
table.border tbody tr:nth-child(even) td {background: #f2f2f2}

table.border tbody tr:hover td{background:#fafafa;}

table.border tbody.n td {
	border-right:0 none;
}
table.border tbody.n tr:nth-child(odd) td {background: #f6f6f6}
table tbody.n tr:nth-child(odd) td {background: #f6f6f6}
table.border tbody.n tr:nth-child(even) td {background: #f6f6f6}
table tbody.n tr:nth-child(even) td {background: #f6f6f6}

table.border tbody.nm td {
	border-right:0 none;border-bottom:0 none;
}
table.border tbody.nm tr:nth-child(odd) td {background: #f6f6f6}
table.border tbody.nm tr:nth-child(even) td {background: #f6f6f6}
table.border tbody.nm input.input-txt{width:90%;height:24px;}
table.border thead.mn th {
	border-right:0 none;
}

#cloud-body-wrapper,#invoice-body-wrapper{
	width:800px;
	margin:40px 0 0 40px;
}

#invoice-body-wrapper{
	width:980px;
	margin:20px 0 0 40px;
}

.white-bg{background:#fff;}
.gb2{background:#f6f6f6;}

#invoice-body-wrapper #left-content{
	width:315px;
}

#invoice-body-wrapper #right-content{
	width:585px;
	margin-left:60px;
}

#invoice-body-wrapper h2{
	font-weight:bold;
	color:#6c6c6c;
	font-size:16px;
	padding-bottom:10px;
}

#invoice-body-wrapper table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
	background: #f4f4f4;
	border:1px solid #dadada;
	margin:0;
	border-radius:4px;
}

#invoice-body-wrapper th ,#invoice-body-wrapper tfoot td{
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #fbfbfb;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #eaeaea));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -moz-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -ms-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -o-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: linear-gradient(top, #fbfbfb, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbfbfb, endColorstr=#eaeaea);
	border:0 none;
	color:#6c6c6c;
	font-size:14px;
	font-weight:bold;
	border-right:1px solid #dadada;
	border-bottom:1px solid #dadada;
	
}
thead.fixedHeader{
	display: table-header-group;
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
thead.fixedHeader tr {
	display: block;
}
thead.fixedHeader tr th{width:175px;}
tbody.scrollContent tr td{width:175px;}
tbody.scrollContent tr td + td{width:175px;}
tbody.scrollContent tr td + td + td{width:158px;}

tbody.scrollContent {
	display: block;
	height: 203px;
	overflow: auto;
	width: 100%;
}
tr{
	display: table-row;
}

tbody.scrollContent.f2{height:100px;}
tbody.scrollContent tr:hover td{background:#ffcc00 !important;}
thead.fixedHeader.f2 tr th{width:200px;}
tbody.scrollContent.f2  tr td{width:200px;}
tbody.scrollContent.f2  tr td+td+td+td+td{width:190px;}

#invoice-body-wrapper tfoot td{
	border-top:1px solid #dadada;
}
#invoice-body-wrapper tbody td {
	background: none repeat scroll 0 0 #f4f4f4;
	padding: 8px 10px;
	text-align: left;
	vertical-align: middle;
	border:0 none;
	border-right:1px solid #dadada;
}
a.pdf{
	padding-left:25px;
}

table.scrollContent{
	height:248px;
	overflow:auto;
	display:block;
}
table.scrollContent th,
table.scrollContent td{
	width:200px;
}
table.scrollContent tr:hover td{background:#ffcc00 !important;}
/*****************************MAILBOX ADMIN*******************************/

header nav{
	width:100%;height:41px;display:block;
	background:url(../images/nav_bg.png) center center repeat-x;
}
nav ul{
	list-style-type:none;
	float:left;
	margin:0;
	margin-top:14px;
	margin-left:0px;
}
nav ul li{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
nav ul li a{
	padding:13px 30px;
	background:url(../images/a_bg.png) right center repeat-y;
	font-size:15px;
	color:#6c6c6c;
}
nav ul li a:hover, nav ul li a.act{
	background-color: #dfaf01;
	text-decoration:none;
	color:#fff;
}

#mailbox{
	margin:10px 0 0 20px;
	float: left;
	width:1100px;
}
.bg2{
	/*min-height:750px;*/
}

.mailbox label {
	color: #6C6C6C;
    display: block;
    font-size: 15px;
    line-height: 30px;
    margin-right: 10px;
    text-align: right;
}

#shippingEnvelopeFormContainer label {
	text-align: left;
}

.mailbox .input-txt{ 
	height: 30px;
}
.mailbox .input-item {
	margin: 2px 0px;
	position:relative;
}
.input-item .arrow{
	position:absolute;
	background:url(../images/input_bg.png) center center no-repeat;
	width:11px;height:10px;
	right:10px;top:13px;
	display:block;
}
#daskboard{
	float:left;
	margin:30px 0 0 40px;
	width:300px;
	background:#eeeeee;
}
#daskboard .ym-grid{
	padding:10px 20px;
	width:88%;
}
#daskboard h3{
	font-weight:bold;
	font-size:16px;
	color:#6c6c6c;
	border-bottom:1px solid #dadada;
	padding-bottom:15px;
}
#daskboard .ym-grid > .ym-grid  >.ym-grid,
#daskboard .ym-grid > .ym-grid {
	padding:0px;
}
#daskboard .ym-grid > .ym-grid  >.ym-grid{
	padding:5px 0px;
}
input.input-btn.yl, input.input-btn:hover{
	background:#eebe01;
	color:#fff;
	border:1px solid #eebe01;
}
input.input-btn.c{
	width:200px;
	margin-bottom:10px;
}

.required, .error {
    color: red;
}

.jq-background { background: #F2F2F2; }

span.managetables-icon {
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -99999px;
	cursor: pointer;
}
span#trash_item{
	 background-image: url("../images/icon_sprite.png");
    background-position: 12px -18px;
    background-size: 118% auto;
    height: 19px !important;
    margin-top: -21px;
    width: 20px;
	float:right;
	display: none;
	margin-right: 172px;
}

span#trash_item:hover{
	
	
}

.managetables-icon-tick {
	background-image: url(../images/tickbox-icon.png);
	width: 32px !important;
}

.managetables-icon-delete {
	background-image: url(../images/icons2.png);
	background-repeat: no-repeat;
	background-position: -80px -90px;
	width: 32px !important;
	height: 18px !important;
}

.managetables-icon-edit {
	background-image: url(../images/icons2.png);
	background-position: -16px -90px;
	background-repeat: no-repeat;
	width: 32px !important;
	height: 18px !important;
}

.managetables-icon-change-pass {
    background-image: url("../images/icons2.png");
    background-position: -48px -90px;
    background-repeat: no-repeat;
    height: 20px !important;
    width: 32px !important;
}

.managetables-icon-generate-invoice {
    background-image: url("../images/setting-icon.png");
    background-repeat: no-repeat;
    height: 20px !important;
    width: 32px !important;
}

.managetables-icon-comment {
    background-image: url("../images/comment.png");
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.managetables-icon-comment-add {
    background-image: url("../images/add.ico");
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.managetables-icon-flag{
	background-image: url("../images/default_flag.png");
    background-repeat: no-repeat;
	height: 24px !important;
    width: 24px !important;
	background-size: 24px 24px;
}
.managetables-icon-yellow-flag{
	background-image: url("../images/flag_yellow.png");
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
	background-size: 24px 24px;
	margin-left: 1px;
}
.managetables-icon-red-flag{
	background-image: url("../images/flag_red.png");
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
	background-size: 24px 24px;
	margin-left: 1px;
}
.managetables-icon-green-flag{
	background-image: url("../images/flag_green.png");
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
	background-size: 24px 24px;
	margin-left: 1px;
}

/* --------------------------------------------------------------
    customize input control css
-------------------------------------------------------------- */
.input-width {
	width: 250px;
	margin: 0;
	padding: 5px;
	font-size: 13px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 0 #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

input.input-txt-none{
    border: 1px solid #DADADA;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    height: 25px;
    text-indent: 5px;
	line-height:25px;
	width: 100px;
}
select.input-txt-none{
    border: 1px solid #DADADA;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    height: 25px;
	line-height:25px;
	width: 100px;
}
.input-width-100 {
	width: 100px;
}
.input-width-150 {
	width: 150px;
}
.input-width-200 {
	width: 200px;
}
.input-width-250 {
	width: 250px;
}
.input-width-350 {
	width: 350px;
}

span.icon {
	display: inline-block;
	position: relative;
	top: 2px;
	margin: -2px 4px -2px 4px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
}

/* Processing image */
span.icon-process {
	background-image: url(../images/ajax-loader.gif);
	width: 32px;
	height: 32px;
	top: 0px;
	margin: 0px 0px 0px 2px;
	vertical-align: middle;
}

/*****************************Customer checkbox*******************************/
.jquery-safari-checkbox{
	background:url(../images/custom-checkbox-bg.png) no-repeat center center;
	width:23px;
	height:23px;
	display:inline-block;
	cursor:pointer;
}
.jquery-safari-checkbox.jquery-safari-checkbox-checked{
	background:url(../images/custom-checked-checkbox-bg.png) no-repeat center center;
}


table.displayInfo {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background: #cdcdcd;
	border:0 none;
	margin:0;
	margin-left: -1px;
}

table.displayInfo th {
	padding: 10px 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #fbfbfb;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #eaeaea));
	background-image: -webkit-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -moz-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -ms-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: -o-linear-gradient(top, #fbfbfb, #eaeaea);
	background-image: linear-gradient(top, #fbfbfb, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbfbfb, endColorstr=#eaeaea);
	border:0 none;
	color:#6c6c6c;
	font-size:14px;
	font-weight:bold;
}

table.displayInfo th a{
	padding-right:15px;padding-left:5px;
	color:#6c6c6c;
	font-size:14px;
	font-weight:bold;
} 
table.displayInfo td {
	background: none repeat scroll 0 0 #fff;
	padding: 9px;
	text-align: left;
	vertical-align: middle;
	border:0 none;
}

.left_jbar ul {
    list-style: none outside none;
    margin-left:0px;
}
.left_jbar ul li{
	padding: 0.7143em 0.5em;
	
}
.left_jbar li.completed {
    background: url("../images/1377213544_bullet-green.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.left_jbar li.not_completed {
    background: url("../images/1377213574_bullet-red.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.left_jbar li {
    font-family: arial,helvetica,sans-serif;
    font-size: 100%;
    line-height: 24px;
    margin-left: 0;
}
.managetables-setting-icon {
    background-image: url("../images/setting-icon.png");
    background-repeat: no-repeat;
    height: 20px !important;
    width: 32px !important;
}
div.envelop, div.envelop-yellow, div.envelop-blue {
    display: block;
    height: 100%;
    width: 100%;
}
a.envelop, div.envelop {
    background: transparent url("../images/icon-set.png") no-repeat scroll -99px -44px;
    height: 21px;
    margin: 0 auto;
    width: 28px;
}
a.envelop-yellow, div.envelop-yellow {
    background: transparent url("../images/icon-set.png") no-repeat scroll -99px -22px;
    height: 21px;
    margin: 0 auto;
    width: 28px;
}
a.envelop-blue, div.envelop-blue {
    background: transparent url("../images/icon-set.png") no-repeat scroll -99px 0;
    height: 21px;
    margin: 0 auto;
    width: 28px;
}
a.cloud, div.cloud {
    background: transparent url("../images/icon-set.png") no-repeat scroll 0 -44px;
    height: 21px;
    margin: 0 auto;
    width: 30px;
}
a.cloud-blue, div.cloud-blue {
    background: transparent url("../images/icon-set.png") no-repeat scroll 0 0;
    height: 21px;
    margin: 0 auto;
    width: 30px;
}
a.cloud-yellow, div.cloud-yellow {
    background: transparent url("../images/icon-set.png") no-repeat scroll 0 -22px;
    height: 21px;
    margin: 0 auto;
    width: 30px;
}

.items .wrap {
    display: block;
    position: relative;
}
.a.collect, div.collect {
    background: transparent url("../images/icon-set.png") no-repeat scroll -124px -44px;
    height: 21px;
    margin: 0 auto;
    width: 20px;
}
a.scan_email, div.scan_email {
    background: transparent url("../images/icon-set.png") no-repeat scroll -121px -64px;
    height: 21px;
    margin: 0 auto;
    width: 22px;
}
a.send, div.send {
    background: transparent url("../images/icon-set.png") no-repeat scroll -66px -44px;
    height: 21px;
    margin: 0 auto;
    width: 35px;
}
a.scan_email-yellow, div.scan_email-yellow{
    background: url("../images/icon-set.png") no-repeat scroll center center transparent;
    height: 21px;
    width: 22px;
    margin: 0 auto;
    background-position: -103px -64px;
}

a.scan_email-blue, div.scan_email-blue{
    background: url("../images/icon-set.png") no-repeat scroll center center transparent;
    height: 21px;
    width: 22px;
    margin: 0 auto;
    background-position: -83px -64px;
}
a.collect, div.collect{
    background: url("../images/icon-set.png") no-repeat scroll -124px -44px transparent;
    height: 21px;
    margin: 0 auto;
    width: 20px;
}
div.collect-green{
	background: url("../images/icon-set_1.png") no-repeat scroll center center transparent;
    height: 21px;
    width: 20px;
    background-position: -124px -1px;
    margin: 0 auto;
}
a.collect-yellow, div.collect-yellow{
    background: url("../images/icon-set.png") no-repeat scroll center center transparent;
    height: 21px;
     width: 20px;
    background-position: -124px -22px;
    margin: 0 auto;
}

div.trash{
    background: transparent url("../images/icon-set_1.png") no-repeat scroll -141px -61px;
    height: 21px;
    margin: 0 auto;
    width: 20px;
}

div.trash-yellow{
    background: transparent url("../images/icon-set_1.png") no-repeat scroll;
    height: 21px;
     width: 20px;
    background-position: -142px -40px;
    margin: 0 auto;
}

a.collect-blue, div.collect-blue{
    background: url("../images/icon-set.png") no-repeat scroll center center transparent;
    height: 21px;
     width: 20px;
    background-position: -124px 0px;
    margin: 0 auto;
}

a.send-yellow, div.send-yellow{
    background: url("../images/icon-set.png") no-repeat scroll center center transparent;
    height: 21px;
    width: 35px;
    background-position: -66px -22px;
    margin: 0 auto;
}

a.send-blue, div.send-blue{
    background: url("../images/icon-set.png") no-repeat scroll center center transparent;
    height: 21px;
    width: 35px;
    background-position: -66px 0px;
    margin: 0 auto;
}
.check-item{
    background: url("../images/check.ico") no-repeat scroll center center transparent;
    height: 21px;
    width: 35px;
    margin: 0 auto;
}
.cancel-item{
    background: url("../images/access_deny.ico") no-repeat scroll center center transparent;
    height: 21px;
    width: 35px;
    margin: 0 auto;
}

table.settings_border {
	display: table;
	border-collapse: separate;
	border-color: gray;
	border-spacing: 0px;
	border-top: 1px solid #dadada;
	border-left: 1px solid #dadada;
}

table.settings_border tr {
	border: 1px solid #DADADA;
}

table.settings_border tr th, table.settings_border tr td {
	border-bottom: 1px solid none;
	border-style: none solid solid none;
	border-width: 0 1px 1px 0;
	border-color: #DADADA;
	
}

table.report th, table.report td {
	padding: 2px;
}

#user-nav a {
    color: #c3dbf2;
    display: block;
    line-height: 18px;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
}
#right_menu  li ul li { float:left; width:120px;height:32px !important; padding:0; background:none; border:none; display:block; position:relative;text-align:left;}

a.envelop-orange, div.envelop-orange {
    background: transparent url("../images/envelope_orange.png") no-repeat scroll 0 center !important;
    height: 21px !important;
    margin: 0 auto !important;
    width: 21px !important;
}
a.scan-orange, div.scan-orange {
    background: transparent url("../images/scan_orange.png") no-repeat scroll 0 center !important;
    height: 21px !important;
    margin: 0 auto !important;
    width: 21px !important;
}
a.send-orange, div.send-orange {
    background: transparent url("../images/direct_orange.png") no-repeat scroll 0 center !important;
    height: 21px !important;
    margin: 0 auto !important;
    width: 21px !important;
}
a.collect-orange, div.collect-orange {
    background: transparent url("../images/collect_orange.png") no-repeat scroll 0 center !important;
    height: 21px !important;
    margin: 0 auto !important;
    width: 21px !important;
}

#btn_save_tracking_number{
	background: #eebe01  none repeat scroll 0 0;
    border: 1px solid #eebe01 ;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 4px 16px;
    width: 200px;
    cursor: pointer;
}

#btn_no_save_tracking_number{
	background: #c00000 none repeat scroll 0 0;
    border: 1px solid #c00000;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 4px 6px;
    cursor: pointer;
    width: 200px;
}

#tbl_location_checkbox td, #tbl_location_checkbox th{
    padding-top: 0px;
    padding-bottom: 0px;
}

.readonly{
    background: #d3d3d3;
}

.verification-history {
    border: 1px solid lightgray;
    background-color: white;
    margin: 5px 0 5px 0;
    height: 70px;
}
    
.history-header {
    border-bottom: 1px solid lightgray;
    font-size: 0.9em;
    font-weight: bold;
    height: 15px;
}


.history-content {
    font-size: 0.8em;
}

.icon-edit {
    background: url(../images/ui-icons_222222_256x240.png);
    width: 15px;
    height: 15px;
    background-position: 188px 125px;
    cursor: pointer;
    border: none;
}

.icon-edit:hover {
    background: url(../images/ui-icons_2e83ff_256x240.png);
    width: 15px;
    height: 15px;
    background-position: 188px 125px;
    cursor: pointer;
    border: none;
}

.icon-delete {
    background: url(../images/ui-icons_222222_256x240.png);
    width: 15px;
    height: 15px;
    background-position: 79px 140px;
    cursor: pointer;
    border: none;
}

.icon-delete:hover {
    background: url(../images/ui-icons_2e83ff_256x240.png);
    width: 15px;
    height: 15px;
    background-position: 79px 140px;
    cursor: pointer;
    border: none;
}

table#shipping_api_code, table#shipping_api_credential {
    font-size: 12px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#shipping_api_code td, #shipping_api_credential td{
    border: 1px solid #ddd;
    text-align: left;
    padding: 4px;
}

#shipping_api_code thead td , #shipping_api_credential thead td{
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #c3c3c3;
}